.antiParallelogram{
    transform: skew(20deg);
}

#Custom-width{
    border-bottom: 50px solid #060606;
	border-left: 25px solid transparent;
	display: flex;
	height: 0;
	/* width: 550px; */
}



@media screen and (max-width: 576px){
    #topNav{
        display: none;
    }
}